{{template "header.gohtml" .}}
<main>
    <article>
        <form action="/login" method="POST">
            <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Gebruikersnaam"></div>
            <div class="mb-3"><input type="password" class="form-control" name="password" placeholder="Wachtwoord"></div>
            <button type="submit" class="btn btn-primary">Log In</button>
        </form>
    </article>
</main>

{{template "footer.gohtml" }}
