<nav>
    <ul>
        <li><strong>SVS</strong></li>
    </ul>
    <ul>
        <li><a href="/groepen">Groepen</a></li>
        <li><a href="/modules">Modules</a></li>
        <li><a href="/studenten">Studenten</a></li>
        <li><a href="/logout">Uitloggen</a></li>
    </ul>
</nav>